<div class="container">
    <h1>Checkout form using reactive forms</h1>
    <form [formGroup]="checkoutForm" (ngSubmit)="postData();">
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="emailAdress">
        <span *ngIf="checkoutForm.get('emailAdress').touched && checkoutForm.get('emailAdress').hasError('required')">Enter mail address</span>
        <span *ngIf="checkoutForm.get('emailAdress').touched && checkoutForm.get('emailAdress').hasError('email')">Enter valid mail address</span>
        <span *ngIf="checkoutForm.get('emailAdress').touched && checkoutForm.get('emailAdress').hasError('minLength')">Minimun 5 characters</span>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Quantity</label>
          <input type="text" class="form-control" id="exampleInputPassword1" formControlName="quantity">
          <span *ngIf="checkoutForm.get('quantity').touched && checkoutForm.get('quantity').hasError('required')">Enter quantity</span>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="terms">
          <label class="form-check-label" for="exampleCheck1">Agree to terms</label>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="checkoutForm.invalid">Checkout</button>
      </form>
</div>
