
<!-- <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul> -->
<h1 class="bg-primary">Welcome to  {{title}}</h1>

<!-- <ul>
    <li> <a href="/products">Products</a> </li>
    <li> <a href="/product-view">Product view</a> </li>
    <li> <a href="/product-edit">Product edit</a> </li>
    <li> <a href="/product-delete">Product delete</a> </li>
</ul> -->

<router-outlet></router-outlet>